.cproject
.project
.pydevproject
.settings
.classpath
.classpath-generated
.project-generated
ros.properties
dependencies.xml
cmake_install.cmake
build/
bin/
msg_gen/
srv_gen/
*.pyc
.gradle/
.svn
*.bak
*.swp
*~
*/msg/*Feedback.msg
*/msg/*Goal.msg
*/msg/*Action.msg
*/msg/*Result.msg
*/src/*/cfg
*/src/*/msg
*/src/*/srv
race_move_arms/src/race_move_arms/__init__.py
race_obstacle_detector/src/race_obstacle_detector/__init__.py
race_tachometer/src/race_tachometer/__init__.py
race_tray_monitor/src/race_tray_monitor/__init__.py
robot_motion_param/src/robot_motion_param/__init__.py
tray_pick_place/src/tray_pick_place/__init__.py
*.so
cisst
