<?xml version="1.0"?>
<launch>

  <node name="set_pr2_table1_south_node1" pkg="rostopic" type="rostopic"
    args="pub /gazebo/set_model_state gazebo/ModelState '{model_name:
    race_pr2, pose: { position: { x: -4.60, y: 0.10, z: 0.00 }, orientation:
    {x: 0.0, y: 0.0, z: 0.71, w: 0.71 } }, twist: { linear: { x: 0, y: 0, z: 0 }, angular:
    { x: 0, y: 0, z: 0}  }, reference_frame: world }'" output="screen"/>

</launch>
