<?xml version="1.0"?>
<launch>

  <arg name="namespace" default=""/>

  <param name="flowers1_description" textfile="$(find race_gazebo_worlds)/models/race_flowers1.model" />
  <node name="spawn_flowers1" pkg="gazebo" type="spawn_model"
    args="-gazebo -param flowers1_description -gazebo_namespace $(arg namespace)/gazebo -x -4.55 -y 1.29 -z 0.73 -model race_flowers1" respawn="false" output="screen" />

</launch>
