<?xml version="1.0"?>
<!-- Copy from spawn_spoon1.launch adapted to have the xyz coordinates as arguments of the launch file.
Dec2013, Miguel Oliveira UA-->
<launch>
<arg name="x" default="-4.78"/>
<arg name="y" default="1.44"/>
<arg name="z" default="0.75"/>
<arg name="namespace" default=""/>

  <param name="spoon1_description" textfile="$(find race_gazebo_worlds)/models/race_spoon1.model" />
  <node name="spawn_spoon1" pkg="gazebo" type="spawn_model"
    args="-gazebo -param spoon1_description -gazebo_namespace $(arg namespace)/gazebo -x $(arg x) -y $(arg y) -z $(arg z) -Y 1.57 -model race_spoon1" respawn="false" output="screen" />

</launch>
