<?xml version="1.0"?>
<launch>

  <arg name="namespace" default=""/>

  <!--White Coffee Cup Model-->
  <param name="coffee_cup_model"
    command="$(find xacro)/xacro.py '$(find race_gazebo_worlds)/urdf/race_coffee_cup.urdf.xacro'" />
  <!--Coffee mug 1-->
  <node name="$(anon spawn_coffee_cup)" pkg="gazebo" type="spawn_model"
    args="-urdf -param coffee_cup_model -gazebo_namespace $(arg namespace)/gazebo -x 0.10 -y 1.35 -z 0.35 -R 0 -P 0 -Y -1.4 -model $(anon coffee_cup)" respawn="false" output="screen" />

  <!--White Coffee Cup Model-->
  <param name="coffee_cup_model"
    command="$(find xacro)/xacro.py '$(find race_gazebo_worlds)/urdf/race_coffee_cup.urdf.xacro'" />
  <!--Coffee mug 2-->
  <node name="$(anon spawn_coffee_cup)" pkg="gazebo" type="spawn_model"
    args="-urdf -param coffee_cup_model -gazebo_namespace $(arg namespace)/gazebo -x 0.30 -y 1.30 -z 0.35 -R 0 -P 0 -Y -1.4 -model $(anon coffee_cup)" respawn="false" output="screen" />
    
  <!--White Coffee Cup Model-->
  <!--Coffee mug 3-->
  <node name="$(anon spawn_coffee_cup)" pkg="gazebo" type="spawn_model"
    args="-urdf -param coffee_cup_model -gazebo_namespace $(arg namespace)/gazebo -x -0.10 -y 1.45 -z 0.35 -R 0 -P 0 -Y -1.4 -model $(anon coffee_cup)" respawn="false" output="screen" />


</launch>
