<?xml version="1.0"?>
<launch>

  <arg name="namespace" default=""/>

  <param name="flowers1_description" textfile="$(find race_gazebo_worlds)/models/race_flowers1.model" />
  <node name="spawn_flowers1" pkg="gazebo" type="spawn_model"
    args="-gazebo -param flowers1_description -gazebo_namespace $(arg namespace)/gazebo -x -1.35 -y 1.3 -z 0.35 -model race_flowers1" respawn="false" output="screen" />

  <!--White Coffee Cup Model-->
  <param name="coffee_cup_model"
    command="$(find xacro)/xacro.py '$(find race_gazebo_worlds)/urdf/race_coffee_cup.urdf.xacro'" />
  <!--Coffee mug 1-->
  <node name="spawn_coffee_cup1" pkg="gazebo" type="spawn_model"
    args="-urdf -param coffee_cup_model -gazebo_namespace $(arg namespace)/gazebo -x -1.35 -y 1.48 -z 0.35 -R 0 -P 0 -Y -1.4 -model coffee_cup1" respawn="false" output="screen" />


  <param name="oilservers1_description" textfile="$(find race_gazebo_worlds)/models/race_oilservers1.model" />
  <!--node name="spawn_oilservers1" pkg="gazebo" type="spawn_model"
    args="-gazebo -param oilservers1_description -gazebo_namespace $(arg namespace)/gazebo -x -1.7 -y 1.3 -z 1.0 -Y -1.4 -model race_oilservers1" respawn="false" output="screen" /-->
  <node name="spawn_oilservers1" pkg="gazebo" type="spawn_model"
    args="-gazebo -param oilservers1_description -gazebo_namespace $(arg namespace)/gazebo -x -1.35 -y 1.12 -z 0.35 -Y -1.4 -model race_oilservers1" respawn="false" output="screen" />

</launch>
